body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  }
  
section {
    padding: 20px;
    margin: 20px;
    margin-left: 25%;
    margin-right: 25%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }

h2{
    text-align: center;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
  }

p {
  margin: 20px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    padding-left: 5em;
    padding-right:  3em;
}


img {
    width: 60%;
    
    background-size: cover;
    background-color: grey;
    border-radius: 50px;
}

.img2 {
  width: 70%;
  background-color: grey;
  border-radius: 50px;
}

.img3 {
  width: 40%;
  background-color: grey;
  border-radius: 50px;
}

.caption1 {
    padding-top: 10px;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: block;
}

.caption2 {
  padding-top: 10px;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

a:link.sc_link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:hover.sc_link {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:link.yt_link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:hover.yt_link {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}


a:link.footer_link {
  color: white;
  background-color: transparent;
}

a:visited.footer_link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}


a:hover.footer_link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
